<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<string>H_.glif</string>
	<key>line_01_empty</key>
	<string>line_01_empty.glif</string>
	<key>line_01_fill</key>
	<string>line_01_fill.glif</string>
	<key>space</key>
	<string>space.glif</string>
</dict>
</plist>
